<html>
<head>
	<title>Entry information page</title>
</head>
<body bgcolor="black" text="white">
	<h1 align="center">WELCOME TO RAS OFFICIAL SIGNUP PAGE</h1>
	<h4 align="center">signup here for free</h4>
	<form action="http://127.0.0.1:5000/" method="POST">
	<h3>enter your name</h3>
	<input type="text" name="nm">
	<h3>Enter your age</h3>
	<input type="number" name="age">
	<h3>Enter your email</h3>
	<input type="email" name="email">
	<h3>enter your field of interest/platform</h3>
	<input type="text" name="interest">
	<h3>Enter your password</h3>
	<input type="password" name="password">
	<input type="submit" value="submit">
</form>
	<a href="login.html" align="center">Aldready a user?? please click here to login</a>

</body>

</html>